---
import SearchBar from '../components/SearchBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Philosophy Map</h1>
	<SearchBar />
	<p>Philosophy Map is 3D graph representation of <a href="https://plato.stanford.edu/">Stanford Encyclopedia of Philosophy</a></p>
	<h2>How To</h2>
	<ul>
		<li>Find article through above search bar.</li>
		<li>Nodes represent articles of encyclopedia. Click on any node to see more information.</li>
		<li><span class="node pink"></span> node is main article of the sub-graph.</li>
		<li><span class="node light-blue"></span> nodes are articles connected to main article. Click on it to get</li>
		<li><span class="node dark-blue"></span> nodes which are expanded and show farther connections.</li>
	</ul>
</Layout>

<style>
	* {
		color: #fff;
	}

	.node {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		display: inline-block;
	}

	.pink {
		background-color: #ee4fc5;
	}

	.light-blue {
		background-color: #80b3e6;
	}

	.dark-blue {
		background-color: #0066cc;
	}
</style>
