---
const id = "Plato"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <div id="code">{id}</div>
    <div id="output"></div>
</body>
</html>

<script>
    import data from '../../data/data.json' assert { type: 'json'};

    const article = "Plato";

    let resultNodes = [];

    const filteredItem = data.nodes.filter(item => item.id == article)[0];
    const mainItem = {"id": filteredItem['id'], "address": filteredItem['address'], "group": 1};
    resultNodes.push(mainItem);

    const targets = data.links.filter(item => item.source == article).map(item => item.target);
    const sources = data.links.filter(item => item.target == article).map(item => item.source);

    console.log(sources);


</script>